# ports
DB_PORT=5432
PGADMIN_PORT=8080

# nostr keypair
SECRET_KEY=
PUBLIC_KEY=

# database configuration
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=bigbrotr
POSTGRES_DB_DATA_PATH=./data
POSTGRES_DB_INIT_PATH=./init.sql
POSTGRES_DB_DUMP_PATH=./dump

# pgadmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# initializer configuration
RELAYS_SEED_PATH=./seed/relays_seed.txt

# finder configuration
FINDER_FREQUENCY_HOUR=8
FINDER_REQUEST_TIMEOUT=20

# monitor configuration
MONITOR_FREQUENCY_HOUR=8
MONITOR_NUM_CORES=5
MONITOR_CHUNK_SIZE=200
MONITOR_REQUESTS_PER_CORE=10
MONITOR_REQUEST_TIMEOUT=20

# syncronizer configuration
SYNCRONIZER_PARALLEL_REQUESTS=100
SYNCRONIZER_REQUEST_TIMEOUT=20
SYNCTONIZER_START_TIMESTAMP=0
# if stop time = -1, will be set to present time
SYNCRONIZER_STOP_TIMESTAMP=-1
SYNCRONIZER_EVENT_FILTER={}