# PostgreSQL and pgAdmin ports
DB_PORT=5432          # Exposes PostgreSQL database on this port
PGADMIN_PORT=8080     # Exposes pgAdmin web UI on this port

# Nostr keypair
SECRET_KEY=           # Your private key for signed requests
PUBLIC_KEY=           # Your public identity on Nostr

# PostgreSQL configuration
POSTGRES_USER=admin                     # Username for the database
POSTGRES_PASSWORD=admin                 # Password for the database
POSTGRES_DB=bigbrotr                    # Name of the database
POSTGRES_DB_DATA_PATH=./data            # Path to persist database data
POSTGRES_DB_INIT_PATH=./init.sql        # Path to initial SQL setup
POSTGRES_DB_DUMP_PATH=./dump            # Path for backup/exported dumps
POSTGRES_CONFIG_PATH=./postgresql.conf  # Path to custom PostgreSQL configuration file

# pgAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com      # Login email for pgAdmin
PGADMIN_DEFAULT_PASSWORD=admin             # Login password for pgAdmin

# Initializer
SEED_RELAYS_PATH=./seed_relays.txt    # File containing the initial list of relays to monitor

# Finder service
FINDER_FREQUENCY_HOUR=8         # How often (in hours) to run the finder service
FINDER_REQUEST_TIMEOUT=20       # Timeout for requests made when discovering new relays

# Monitor service
MONITOR_FREQUENCY_HOUR=8        # How often to run the monitoring routine
MONITOR_NUM_CORES=8             # Number of CPU cores to use
MONITOR_CHUNK_SIZE=50           # Number of relays monitored per core
MONITOR_REQUESTS_PER_CORE=10    # Relay monitors made in parallel per core
MONITOR_REQUEST_TIMEOUT=20      # Timeout for each relay monitor

# Syncronizer service
SYNCRONIZER_NUM_CORES=8             # Number of CPU cores to use
SYNCRONIZER_REQUESTS_PER_CORE=10    # Relay syncronizations made in parallel per core
SYNCRONIZER_REQUEST_TIMEOUT=20      # Timeout for each relay syncronization
SYNCTONIZER_START_TIMESTAMP=0       # Start time for sync (0 = genesis)
SYNCRONIZER_STOP_TIMESTAMP=-1       # End time (-1 = now)
SYNCRONIZER_EVENT_FILTER={}         # Optional event filtering as JSON