# Ports
DB_PORT=5432
PGADMIN_PORT=8080

# database configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=bigbrotr
POSTGRES_DB_DATA_PATH=./data
POSTGRES_DB_INIT_PATH=./init.sql

# pgadmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# torproxy configuration
TORPROXY_USER=user
TORPROXY_PASSWORD=password

# initializer configuration
RELAYS_SEED_PATH=./relays_seed.txt