{% extends "base/01_functions_utility.sql.j2" %}
{% block header_comment %}
 * LilBrotr - 01_functions_utility.sql
 *
 * Utility functions that must be created before tables, because they are
 * called by CRUD functions in 03_functions_crud.sql.
 *
 * Dependencies: 00_extensions.sql
{% endblock %}
