{% extends "base/04_functions_cleanup.sql.j2" %}
{% block header_comment %}
 * LilBrotr - 04_functions_cleanup.sql
 *
 * Cleanup functions that remove orphaned records to maintain data integrity.
 * These should be run periodically or after bulk deletions from parent tables.
 *
 * Dependencies: 02_tables.sql
{% endblock %}
